# FileTube Configuration

# Docker container image tag to pull/build
FILETUBE_IMAGE_TAG=latest

# The port exposed on the host machine to access the web application
SERVER_HOST_PORT=3000

# Directory on the host where FileTube saves its configurations, database (db.json) and thumbnails (.thumbnails/)
# For local runs, it defaults to the project root. For Docker, it persists configuration.
DATA_DIR=./data
